/* Estilos globales */
body {
    font-family: sans-serif;
    background-color: #002c8b;
    text-align: center;
}

/* Estilos del contenedor principal */
.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: #e2d2d2;
    border: 2px solid #09ff00;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Estilos del encabezado */
h1 {
    font-size: 2rem;
}

/* Estilos de las etiquetas de entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos de los campos de entrada */
input {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Estilos del botón */
button {
    display: block;
    width: 50%;
    margin: 10px auto;
}

/* Estilos para texto con clase "porFuera" */
.porFuera {
    color: #fff;
}
